@{
    ViewData["Title"] = "Home Page";
}
<form action="/build" method="post">
    Site Name: <input type="text" name="siteName" /></br>
    <input type="submit" name="buildController" value="build controller"/>
</form>
